<!DOCTYPE html>
<html>
<form>
    <label for="destination">Destination:</label><br>
    <input type="text" id="destination" name="destination"><br>

    <label for="time">Departure Time:</label><br>
    <input type="time" id="time" name="time"><br>

    <label for="num_seats">Number of Seats Available:</label><br>
    <input type="number" id="num_seats" name="num_seats"><br>

    <label for="duration">Duration of Trip:</label><br>
    <input type="number" id="duration-hr" name="destination-hr" value="0" min="0" max="10">
    <label for="duration-hr">hours</label><br>
    <input type="number" id="duration-min" name="duration-min" value="0" min="0" max="60">
    <label for="duration-min">minutes</label><br>

    <label for="contact">Contact Information:</label><br>
    <input type="text" id="contact" name="contact"><br>
    <select name="contact-method" id="contact-method">
        <option>Phone Number</option>
        <option>Email</option>
        <option>Social Media (Specify Platform)</option>
        </select>
        <br>

    <label for="comments">Comments:</label><br>
    <textarea id="comments" name="comments" rows="4" cols="50"></textarea><br>

    <table>
        <tr id="test">hi</tr>
    </table>
    <!-- <button onclick="submitForm()">test</button> -->
    <button id='submit' type="submit" onclick="submitForm()" href="create_rides">Submit</button>
     

</form>

<script>
    function submitForm(){
        // var test = document.getElementById('test').innerHTML
        // test+="hello"
        console.log("hi");
        var destination = document.getElementById("destination").value;
        var time=document.getElementById('time').value;
        var num_seats=document.getElementById('num_seats').value;
        var duration_hr=document.getElementById('duration-hr').value;
        var duration_min=document.getElementById('duration-min').value;
        var contact=document.getElementById('contact').value;
        var contact_method=document.getElementById('contact-method').value;
        var comments=document.getElementById('comments').value;
        var params = "destination=" + destination + "&time=" + time + "&num_seats=" + num_seats+ "&duration_hr=" + duration_hr + "&duration_min=" + duration_min+ "&contact=" + contact+ "&contact_method=" + contact_method+ "&comments=" + comments;

        var req = new XMLHttpRequest();
        var url = "{{ url_for('insertrides') }}";

        req.onreadystatechange = function()
        {
            if(this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
            } else {
                console.log("processing");
            }
        }

        req.open('POST', url, true);
        req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        req.send(params);
        alert("params: "+params);
        console.log(params);
    }

</script>
</html>
