<style>
    table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }
      
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          width: 7%;
      }

      td.pole {
        width: auto;
      }

      td.highlighted {
        background-color: #dddddd;
      }

      th {
          padding: 8px;
          width: 9%;
      }

      td a {
          display: block;
          padding: 8px;
          color: black;
      }

      td:hover {
          text-decoration: none;
          color: black;
          background-color: rgb(179, 182, 185);;
      }
</style>
<p>{{user}}</p>

<table id="requests"> 
    <td>Driver Name</td>
    <th>Destination</th>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>

    {% for doc in doc_requests %}
        
    <tr>
        <td>{{doc["driver_name"]}}</td>
        <td>{{doc["destination"]}}</td>
        <td>{{doc["date"]}}</td>
        <td>{{doc["time"]}}</td>
        <td>{{doc["accepted"]}}</td>
    </tr>
{% endfor %}
</table>